<div class="container">
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bootstrap 4 plus Flatly theme</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Getting started <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://getbootstrap.com/getting-started/#download">Download Bootstrap</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Examples</li>
            <li><a href="http://getbootstrap.com/getting-started/#template">Basic template</a></li>
            <li><a href="http://getbootstrap.com/examples/starter-template/">Starter template</a></li>
            <li><a href="http://getbootstrap.com/examples/grid/">Grids</a></li>
            <li><a href="http://getbootstrap.com/examples/jumbotron/">Jumbotron</a></li>
            <li><a href="http://getbootstrap.com/examples/navbar/">Navbar</a></li>
            <li><a href="http://getbootstrap.com/examples/signin/">Sign-in page</a></li>
            <li><a href="http://getbootstrap.com/examples/sticky-footer/">Sticky footer</a></li>
            <li><a href="http://getbootstrap.com/examples/offcanvas/">Offcanvas</a></li>
            <li><a href="http://getbootstrap.com/examples/carousel/">Carousel</a></li>
            <li><a href="http://getbootstrap.com/examples/theme/">Theme</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Compatibility</li>
            <li><a href="http://getbootstrap.com/getting-started/#migration">Migrating from 2.x to 3.0</a></li>
            <li><a href="http://getbootstrap.com/getting-started/#browsers">Browser support</a></li>
            <li><a href="http://getbootstrap.com/getting-started/#third-parties">Third party support</a></li>
          </ul>
        </li>
        <li><a href="http://getbootstrap.com/css">CSS</a></li>
        <li><a href="http://getbootstrap.com/components">Components</a></li>
        <li><a href="http://getbootstrap.com/javascript">JavaScript</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="http://getbootstrap.com/customize">Customize</a></li>
      </ul>
    </div>
  </div>

  <div class="jumbotron">
    <h1>Twitter Bootstrap 4.0 + Flatly</h1>
    <p class="lead">Starter template with CSS and JS included.</p>
    <p><a class="btn btn-lg btn-info" href="#fork">Fork this fiddle</a></p>
  </div>
</div>