<% if object.errors.any? %>

  <p>OOPS! There are <%=pluralize(object.errors.count, "error")%>:</p>

  <ul>
    <%=object.errors.full_messages.each do |message| %>
      <li><%=message %></li>
    <%end %>
  </ul>

<%end %>