<div class="container">
  <footer id="page-footer">
    <p>
      Created by
      <%= link_to 'Nikita Kazakov','http://nikitakazakov.com' %>
      (2019 - Ruby on Rails.)
    </p>
  </footer>
</div>
